* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    opacity: 0;
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }

      100% {
          opacity: 1;
      }
  }

  area:hover {
      border: 5px solid white;
  }

