@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .image {
    height:100vh;
  }

  .text {
    position: absolute;
    right: 30px;
    top: 500px;
    width: max-content;
    height: max-content;
    font-size: 50px;
    background-color: white;
    padding: 30px;
    margin: 50px;
    letter-spacing: 0.05em;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(1deg);
    border: solid black;
    opacity: 0;
    animation: fadeInAnimation ease 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  #backButton {
    padding: 15px 25px;
    background-color: gray;
    text-transform: uppercase;
    color: black;
    font-family: "Krona One", sans-serif;
    letter-spacing: 1px;
    box-shadow: 10px 5px black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    position: absolute;
    bottom: 50px;
    left: 0;
  }