@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color : rgba(217, 217, 217, 1);
    background-size: cover;
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  #tv-border {
      background-color: black;
      height: 85vh;
      width: 140vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 7%;
  }

  #static {
      width: 68em;
  }

  #backButton {
    padding: 15px 25px;
    background-color: gray;
    text-transform: uppercase;
    color: black;
    font-family: "Krona One", sans-serif;
    letter-spacing: 1px;
    box-shadow: 10px 5px black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 100px;
  }